<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="automationexercises.com UI and API tests" parallel="classes" thread-count="2">
<!--<suite name="MyTestSuite">-->
    <test name="UITests">
        <classes>
            <class name="ui.RegisterUserTest"/>
            <class name="ui.LoginCorrectTest"/>
            <class name="ui.LoginIncorrectTest"/>
            <class name="ui.LogoutTest"/>
            <class name="ui.RegisterExistingTest"/>
            <class name="ui.ContactFormTest"/>
            <class name="ui.TestCasesTest"/>
            <class name="ui.ProductsPageTest"/>
            <class name="ui.ProductsSearchTest"/>
            <class name="ui.VerifySubscriptionHomeTest"/>
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="api.GetAllProductsTest"/>
            <class name="api.PostToAllProductsTest"/>
            <class name="api.GetAllBrandsTest"/>
            <class name="api.PutToAllBrandsTest"/>
            <class name="api.PostToSearchTest"/>
            <class name="api.PostToSearchEmptyTest"/>
            <class name="api.PostToVerifyLoginTest"/>
            <class name="api.PostToVerifyLoginWithoutEmailTest"/>
            <class name="api.DeleteToVerifyLoginTest"/>
            <class name="api.PostToVerifyLoginInvalidTest"/>
        </classes>
    </test>
</suite>